$color1: #7EC8D9;
$color2: #5B9EA6;
$color3: #F2C166;
$color4: #BF2E21;
$color5: #D9A0A0;
$color6: #280283;

body{
  margin: 0;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: black;
}

// .wrapper>*{
//   padding: 10px;
//   margin: 10px;
//   flex: 1 100%;
//   border-radius: 10px;
// }

.wrapper *{
  // font-family: 'Luckiest Guy', cursive;
    font-family: 'Josefin Sans', sans-serif;

}

.header{
  // background: chartreuse;
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
  // height: 120px;
  display: flex;
}

.footer{
  background: $color2;
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer a{
  text-align: center;
  padding: 0 10px 0 0;
}

#linkedin-logo{
  // width: 30px;
  margin-left: 10px;
  height: 30px;
}

#github-logo{
  // width: 30px;
  margin-left: 10px;
  height: 30px;
}

#angellist-logo{
  // width: 20px;
  margin-left: 10px;
  margin-left: 10px;
  height: 30px;
}

.about{
  // position: relative;
  padding: 0 10px 0 0;
  cursor: pointer;
  font-size: 24px;
}

.about:hover{
  text-decoration: underline;
  color: white;
}

.cards-sidebar{
  padding: 10px;
  margin: 10px 0 10px 10px;
  flex: 1 100%;
  border-radius: 10px;
  background: $color3;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  min-width: 240px;
}

.cards-sidebar.highlight{
  background: green;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  min-width: 240px;
  // font-size: 24px;
  // font-weight: 900;
  color: white;
}

.content{
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
  text-align: left;
  background: $color1;
  min-height: 200px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.main-container p{
  font-size: 30px;
  font-weight: 500;
  // color: white
  color: black
}

.result{
  padding: 10px;
  margin: 10px 10px 10px 0;
  flex: 1 100%;
  border-radius: 10px;
  background: $color4;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

@media all and (min-width: 800px){
  .content{
    flex: 3;
  }

  .cards-sidebar{
    order: 1;
  }

  .result{
    order: 3;
  }

  .content{
    order:2;
  }

  .footer{
    order:4;
  }

}

@media all and (min-width: 600px){
  .cards-sidebar {
    flex: 1
  }
  
  .result{
    flex: 1
  }
}

@media all and (max-width:800px){
  .cards-sidebar{
    order: 1;
  }

  .result{
    order: 3;
  }

  .content{
    order:2;
  }

  .footer{
    order:4;
  }
}

.simulation.loading{
  background: grey;
}

.side-cards > ul{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.side-cards > ul:hover{
  background: grey;
}

.side-cards > ul > img {
  // list-style-type: none;
  // background: plum;
  width: 28px;
  height: 39.2px;
  margin: 0 2px 5px 2px;
  z-index: 1;
}

.side-cards > ul > img:hover {
  cursor: pointer;
  -webkit-filter: brightness(120%);
  transform: scale(2);
  z-index: 2;
}

.opponent{
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.opponent-card-selector{
  display: flex;
}

.opponent-card-selector > ul{
  display: flex;
}

.range-options{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.range-selector{
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  background: $color5;
  border: none;
  color: $color4;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  outline: 2px solid $color4;
  width: 30%;
  height: 48px;
  // position: relative;
  cursor: pointer;
}

.range-selector:hover{
  -webkit-filter: brightness(120%);
  // transform: scale(1.1);
}

.range-selector-prompt{
  position: absolute;
  display: none;
  border: 3px solid black;
  border-radius: 10px;
}

.range-selector-prompt p{
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 20px;
}

.range-selector:hover .range-selector-prompt{
  text-align: left;
  display: block;
  width: 300px;
  height: 100px;
  background: $color5;
  z-index: 2;
  bottom:50%;
  left: 50%;
  -webkit-filter: brightness(120%);
}


.opponent-range-selectors{
  display: none;
}

.opponent-card-selectors{
  display: block;
}

.opponent-selectors-title-wrapper{
  display: flex;
  align-items: center;
}

.opponent-selectors-title{
  font-size: 30px;
  font-weight: 500;
  margin-right: 16px;
  // color: white
  color: black
}

.select-range-btn,.select-card-btn{
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background: $color5;
  border: none;
  color: $color4;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  outline: 2px solid $color4;
  width: 33%;
  height: 40%;
}

.select-range-btn:hover,.select-card-btn:hover{
  -webkit-filter: brightness(120%);
  // transform: scale(1.1);
}

.opponent-card-selectors > ul > img {
  width: 60px;
  height: 84px;
  margin: 0 5px 0 0;
  z-index: 1;
  border: 2px solid $color4;
}

.opponent-card-selectors > ul > img:hover {
  // background: purple;
  cursor: pointer;
  -webkit-filter: brightness(120%);
}

.range-selector.selected{
  // color: darken($color: #000000, $amount: 20%);
  background: darken($color: chocolate, $amount: 20%);
}

.board-cards{
  display: flex;
}

.board-cards > ul{
  display: flex;
}

.board-cards > ul > img {
  // list-style-type: none;
  // background: plum;
  width: 60px;
  height: 84px;
  margin: 0 5px 0 0;
  border: 2px solid $color4;
  z-index: 1;
}

.board-cards > ul > img:hover {
  // background: purple;
  cursor: pointer;
  -webkit-filter: brightness(120%);
}

.hole-cards{
  display: flex;
}

.hole-cards > ul{
  display: flex;
}


.hole-cards > ul > img {
  width: 60px;
  height: 84px;
  margin: 0 5px 0 0;
  border: 2px solid $color4;
  z-index: 1;
}

.hole-cards > ul > img:hover {
  // background: purple;
  cursor: pointer;
  -webkit-filter: brightness(120%);
}





.spinner-hidden{
  width: 40px;
  height: 40px;
  display: none;
}

.spinner{
  width: 40px;
  height: 40px;
}

#main-logo{
  width: 100%;
}

.prompt{
  font-size: 24px;
  text-align: left;
  // border: 1px solid blue;
  border-radius: 10px;
  background: lightcyan;
  flex-basis: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-details{
  margin: auto;
  width: 90%;
  // padding: 0 2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.prompt-details p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.strange{
  display: flex;
}

.strange>div{
  display: flex;
  flex-direction: column;
}

.strange-img{
  flex-basis: 100px;
  font-size: 16px;
  color: white;
}


.strange div:last-child{
  flex-grow: 1;
}

.strange>div>img{
  width: 100%;
}

.result-display{
  font-size: 24px;
  text-align: center;
  // border: 1px solid blue;
  border-radius: 10px;
  background: lightcyan;
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 5px solid $color6;
}

.result-display-lists{
  // padding: 0 2px;
  width: 90%;
}

.result-display li {
  list-style-type: none;
}

.result>p{
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700px;
  color: white;
}

.card-info{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}

// .card-info-prompt{
//   font-size: larger;
//   font-weight: bolder;
// }

.result button{
  color:black;
  height: 33%;
  width: 75%;  
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  background: $color3;
  border: none;
  margin: auto;
  font-size: 20px;
  // width: 67%;
  font-weight: 700px;
}

.result button:active {
  background-color:$color3;
  box-shadow: 0 5px darkgoldenrod;
  transform: translateY(4px);
}

#simulation:hover{
  // color: black;
  // border: 2px solid plum;
  // background: white;
  cursor: pointer;
  -webkit-filter: brightness(120%);
  // transform: scale(1.5);
}

#reset-button{
  background: $color3;
}

#reset-button:hover{
  cursor: pointer;
  -webkit-filter: brightness(80%);
}











//about modal
.modal-background{
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
}

.modal-child{
  display: none;
  height: 90%;
  width: 90%;
  // background: white;
  // border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-child-content{
  height: 100%;
  width: 100%;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
}

.close-x{
  height: 30px;
  width: 30px;
  font-size: 24px;
  padding: 0;
  border-radius: 50%;
  // background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 100;
  position: absolute;
  right: 16px;
  top: 16px;
  text-align: center;
  line-height: 24px;
}

.about-details{
  // position: fixed;
  // margin: 0 auto;
  
  display: block;
  width: 100%;
  background: $color5;
  // bottom:100%;
  // right: 100%;
  -webkit-filter: brightness(120%);
}

.about-details p{
  padding: 5px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 16px;
  text-align: left;

}

.about-details-2{
  display: none;
  width: 100%;
  background: $color5;
  -webkit-filter: brightness(120%);
}